<h1>EDIT MOUNTAIN</h1>

<form action="<%= mountain_path(@mountain.id) %>" method="post">
    <label>
        Name:
        <input name="name" required value="<%= @mountain.name%>">
    </label>
    <label>
        Image:
        <input name="image" value="<%= @mountain.image%>">
    </label>
    <label>
        Location:
        <input name="location" value="<%= @mountain.location%>">
    </label>
    <label>
        Height:
        <input name="height" value="<%= @mountain.height%>">
    </label>
    <button>Update</button>
</form>