<h1>
    <%= @director.name %>
</h1>

<%= image_tag @director.photo , :class => 'feature' if @director.photo.present? %>
<ul>
    <li>Name: <%= @director.name %></li>
    <li>Birthplace: <%= @director.birthplace %></li>
    <li>Date of Birth: <%= @director.dob.strftime '%B %e, %Y' if @director.dob.present? %></li>
</ul>

<div>
    <%= link_to("Edit director", edit_director_path(@director)) %>
    <%= link_to("Delete director", @director, :method => 'delete', :data => { :confirm => 'Sure?' }) %>
</div>
