<h1><%= @author.name %></h1>

<%= image_tag @author.image, :class => 'feature' %>

    <ul>
        <li> Name: <%= @author.name%></li>
        <li>Nationality: <%= @author.nationality %></li>
        <li>Date of birth: <%= @author.dob.strftime '%A, %B %e, %Y' unless @author.dob.nil? %></li>
        <li>Period: <%= @author.period %></li>
    </ul>

<% @author.books.each do |book|  %>
<%= link_to image_tag(book.image, :class => 'thumb'), book %>
<% end %>

<div class="controls">
    <%= link_to "Edit Author", edit_author_path(@author) %>
    <%= button_to "Delete Author", @author, :method => 'delete', :data => { :confirm => 'Are you sure?'}  %>   
</div>