<p>

    <div class="card">
        <div class="profile-sidebar"></div>
            <img class="book-image" src="<%= @img_url %>" alt="">
        <div class="profile-main">
          <h2 class="profile-name"><%= @title %></h2>
          <p class="profile-position">By <%= @author %> · <%= @published_date %></p>
          <p class="profile-body">
            <%= @description %>
          </p>
      
        </div>
        
        
      </div>
</p>
