<!DOCTYPE html>
<html>
  <head>
    <title>GaClass</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%=link_to "Courses", courses_path %>
      <%=link_to "New Course", new_course_path %>
      |
      <%=link_to "Students", students_path %>
      <%=link_to "New Student", new_student_path %>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
