<h1> <%= @product["brand"] %> <%= @product["name"] %> </h1>

<h2></h2>

<table>
    <tr>
        <th>Thumbnail</th>
        <th>Brand</th>
        <th>Product Name</th>
        <th>Type</th>
        <th>SKU</th>
        <th>Manual</th>
    </tr>
    <tr>
      <td><img src="<%= @product["image"]%>" alt="<%= @product["name"] %>"></td>
      <td><%= @product["brand"]%></td>
      <td><%= @product["name"] %></td>
      <td><%= @product["type"] %></td>
      <td><%= @product["sku"] %></td>
      <td>
        <a href="<%= @product["manual"] %>">
        <i class="fa-solid fa-file-pdf fa-2x"></i>
        </a>
        </td>
    </tr>
</table>

<div class="controls">
    <a href="/products/<%= @product["id"] %>/edit">Edit</a><br>
    <a href="/products/<%= @product["id"] %>/delete">Delete</a>
</div>

<%# <i class="fa-solid fa-file-pdf fa-3x"></i> %>

