<h1>Impulse! Artists</h1>

<% @artists.each do |artist|%>
    
    <%= image_tag artist.image, :class => 'thumb' if artist.image.present? %>

    <li>Name: <%= link_to artist.name, artist %></li>
    <li>Born: <%= artist.born %></li>
    <% unless artist.dob.nil? %>
    <li>Date of birth: <%= artist.dob.strftime '%A, %B %e, %Y' %></li>
    <% end %>
    <li>Instrument: <%= artist.instrument %></li>

<% end %>
