<div class="content" style='background-color:rgba(0, 0, 0, 0.79); height:100%; color:aliceblue'>
    <div class="container">
        <br/>
        <h2 style="text-align:center">Update Artist</h2>
        <form action="/artists/<%= @artist.id %>" method='post'>
            <div class="mb-3">
                <label class="form-label">
                    <input class="form-control" name="name" placeholder='name' value='<%= @artist.name%>'>
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    <input name="location" class="form-control" placeholder='hometown' value='<%= @artist.location%>'>
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    <input name="sub" class="form-control" placeholder='sub genre' value='<%= @artist.sub%>'>
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    <input name="image" class="form-control" placeholder='image url' value='<%= @artist.image%>'>
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    <input name="video" class="form-control" placeholder='video url' value='<%= @artist.video%>'>
                </label>
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>    
    </div>
</div>