<div class="content" style='background-color:rgba(0, 0, 0, 0.79); min-height: 93vh; color:aliceblue'>
    <div class="container" style="text-align:center">
        <br/>
        <h1> <%= @artist.name %> </h1>
        <% unless @artist.location.nil? || @artist.location.empty? %>
            <h2> Hometown: <%= @artist.location %> </h2>
        <%end%>
        <% unless @artist.sub.nil? || @artist.sub.empty? %>
            <h2> Sub Genre: <%= @artist.sub %> </h2>
        <%end%>
        <% unless @artist.image.nil? || @artist.image.empty? %>
            <img width="600px" src="<%= @artist.image %>">
        <%end%>
        <% unless @artist.video.nil? || @artist.video.empty? %>
         <embed src="<%=@artist.video %>">
        <%end%>
        <ul class="list-group">
         <br/>
        <h3>All songs:</h3>
        <% @songs_filtered.each do |song| %>
            <h2>     
                <li class="list-group"  >
                    <a href="/songs/<%= song.id %>" style="text-decoration:none" class="list-group-item list-group-item-action">
                        <%= song.name %>
                    </a>
                </li>
            </h2>
        <%end %>
    </ul>

    
    </div>

    <div class="container" style="text-align:center">
        <a href="/artists/<%= @artist.id %>/edit" style="text-decoration:none">Edit Artist</a> |
        <a href="/artists/<%= @artist.id %>/delete" style="text-decoration:none">Delete Artist</a>
    </div>
        <br/>
</div>

