<div class="content" style='background-color:rgba(0, 0, 0, 0.79); height:100%; color:aliceblue'>
    <div class="container">
        <br/>
        <h2 style="text-align:center">Update Song</h2>
        <form action="/songs/<%= @song.id %>" method='post'>
            <div class="mb-3">
                <label class="form-label">
                    <input name="artist" class="form-control" placeholder='artist name' value='<%= @song.artist%>'>
                </label>
            </div> 
            <div class="mb-3">
                <label class="form-label">
                    <input name="album" class="form-control" placeholder='album' value='<%= @song.album%>'>
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    <input name="name" class="form-control" placeholder='song name' value='<%= @song.name%>'>
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    <input name="date" class="form-control" placeholder='year of release' value='<%= @song.date%>'>
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    <input name="cover" class="form-control" placeholder='image url' value='<%= @song.cover %>'>
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    <input name="link" class="form-control" placeholder='video url' value='<%= @song.link%>'>
                </label>
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>
        



