<h1>Edit book</h1>
<form action="/books/<%= @book.id %>" method=post>
    <label>
        Name:
        <input name="name" placeholder="A time to kill" value="<%= @book.name %>" required>
    </label>
    <label>
        Author:
        <input name="author" placeholder="John Grisham" value="<%= @author.name %>" required>
    </label>
    <label>
        Genre:
        <input name="genre" placeholder="Legal thriller" value="<%= @book.genre %>">
    </label>
    <label>
        Cover:
        <input class="feature-img" type="url" name="image" placeholder="http://.." value=<%= @book.image %>>
    </label>
    <button>Edit book</button>
</form>