<h1>Patient Firstname: <%= @patient["name"]%></h1>
<h1>Patient Surname: <%= @patient["family"]%></h1>

<h5>Patient Phone number: <%= @patient["phone"] %></h5>

<img src="<%= @patient["image"]%>" alt="<%= @patient["name"]%>">