<div class="container">
    <h1><%=@book_title%></h1>
    <p>
        Author: <%=@book_author%><br>
        Published Date: <%= @publish_date %><br>
    </p>
    <img src="<%= @thumbnail %>" alt="<%=@book_title%>">

</div>