<!DOCTYPE html>
<html>
  <head>
    <title>Mountains</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <%= link_to "All Mountains", mountains_path %>
    <%= link_to "New Mountains", new_mountain_path %> <!--check the routes info if you don't remember the routes-->
  </nav>
    <%= yield %>
  </body>
</html>
