<h1><%=@character["name"]%></h1>
<h2>Breed: <%= @character["breed"]%></h2>
<% unless @character["image"].nil? || @character["image"].empty? %>
<img class = "feature" src="<%= @character["image"]%>" alt="<%= @character["name"]%>">
<% end %>

<div class="controls">
    <a href="/bluey/<%= @character["id"]%>/edit">Edit Character</a>
    <a href="/bluey/<%= @character["id"]%>/delete">Delete Character</a>

</div>