<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pokemon</title>
    </head>
    <body>
        <h1>Pokemon Results</h1>
        <div>
            <img src="<%= image %>" />
            <h2>Name: <%= name %></h2>
            <h3>Species: <%= species %></h3>
            <h4>HP: <%= hp %></h4>
            <h4>Attack: <%= attack %></h4>
            <h4>Defense: <%= defense %></h4>
            <h4>Type: <%= type %></h4>
        </div>
    </body>
</html>
