<!DOCTYPE html>
<html>
  <head>
    <title>Famous Mountain Climbs in Italy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <%= stylesheet_link_tag 'style.css' %>
  </head>

  <body>
    <nav>
      <%= link_to "Climbs", mountains_path, :class => "nav-link" %>
      <%= link_to "New Climb", new_mountain_path, :class => "nav-link" %>
    </nav>

    <%= yield %>
  </body>
</html>
