<!DOCTYPE html>
<html>
  <head>
    <title>Magic8</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/games/magicball">Magic 8 Ball</a>
      <a href="/games/secretnumber">Secret Number Guess</a>
      <a href="/games/rockpaperscissor">Rock Paper Scissors</a>
    </nav>
    <%= yield %>
  </body>
</html>
