<h1>Edit Mountain</h1>

<form action="<%= mountain_path(@mountain.id) %>" method="post">
    <label>
        Name:
        <input type = "text" name="name" required value = "<%= @mountain.name %>">
    </label>

    <label>
        Elevation:
        <input type="number" step = "0.01"name="elevation" value = "<%= @mountain.elevation%>">
    </label>

    <label>
        Country:
        <input type="text" name="country" value = "<%= @mountain.country %>">
    </label>

    <label>
        Image:
        <input type="url" name="image" value = "<%= @mountain.image %>">
    </label>

    <button>Update Mountain</button>
</form>