<!DOCTYPE html>
<html>
  <head>
    <title>EarthPointyBits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href="/mountains">Home</a>
      <%= link_to 'New mountain', new_mountain_path %>
    </nav>
    <%= yield %>
  </body>
</html>
