<div class="container">
    <div class="content">
        <p class="text">
            <%= @text %>
        </p>
    </div>
    <div class="content">
        <ul class="buttons">
            <li>
                <%if @yes!="" && @no!="" %>
                <a href="/<%= @yes %>" class="yes">Yes</a>
                <a href="/<%= @no %>" class="no">No</a>
                <% else %>
                <a href="/<%= @link %>" class="done"><%= @button_text %></a>
                <% end %>
            </li>
        </ul>
    </div>
</div>