<h1><%= @book.title %></h1>

<%= image_tag @book.image %>

<ul>
    <li>Title: <%= @book.title %></li>
    <% if @book.author.present? %>
    <li>Author: <%= link_to @book.author.name, @book.author %> </li>
    <% end %>
    <li>Year: <%= @book.year %></li>
    <li>Genre: <%= @book.genre %></li>
</ul>

<div class="controls">
    <%= link_to "Edit book", edit_book_path(@book) %>
    <%= button_to "Delete book", @book, :method => 'delete', :data => { :confirm => 'Are you sure?'} %>
</div>