<!DOCTYPE html>
<html>
  <head>
    <title>Mountains</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
  </head>

  <body>
      <nav>
      <%= link_to "All Mountains", mountains_path %>
       <%= link_to "New Mountain", new_mountain_path %>
    </nav>
    <%= yield %>
  </body>
</html>
