<!DOCTYPE html>
<html>
  <head>
    <title>JapaneseHistoricalBuildings</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "All Castles", castles_path %>
      <%= link_to "New Castle", new_castles_path %>
    </nav>
    <%= yield %>
  </body>
</html>
