<!DOCTYPE html>
<html>
  <head>
    <title>GamesOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <a href="/">HOME</a>
  |
  <a href="/magic">MAGIC GAME</a>
  |
  <a href="/secret">SECRET NUMBER</a>
  |
  <a href="/rsp">Rock Paper Scissors</a>
    <%= yield %>
  </body>
</html>
